
@{
    ViewData["Title"] = "Index";
}

   
    <div id="demo" class="carousel slide" data-ride="carousel" data-interval="1500">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Images/StaticImages/burger.jpg" style="width:100%" />
                <div class="carousel-caption">
                    <h3>To Buy 1 & Get 1 </h3>
                    <p>
                        If u buy or eat 2k tk food then u will be our member.
                        Then u will get 10% discount from our food papà.... thank you....
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/Images/StaticImages/013.jpg" style="width:100%"  />
                @*<img src="~/Images/StaticImages/burger.jpg" style="width:100%" />*@
                <div class="carousel-caption">
                    <h3>WoW!!!!!!! </h3>
                    <p>To be Our Member & Get 10% Discount</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/Images/StaticImages/burger1.jpg" style="width:100%" />
                <div class="carousel-caption">
                    <h3>Enjoy this variety combo which has all your FoodsPapa favorites:</h3>
                    <p>
                        4pcs Hot & Crispy Chicken, 4pcs Smoky Grilled Chicken,
                        4pcs Chicken Strips & 8pcs Hot Wings… All at a great deal price! You save 30%!
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/Images/StaticImages/Jamaican-Chicken-Rice-Peas.jpg" style="width:100%" />
                @*<img src="~/Images/StaticImages/Burger2.jpg" style="width:100%" />*@
                <div class="carousel-caption">
                    <h3>So, Order Now</h3>
                    <p>
                        A great meal deal! 4pcs Hot & Crispy, 4pcs Hot Wings, 4pcs Chicken Strips,
                        1 large Tangy Fries & 4 Pepsi 250Ml Go Pack only at Tk.999 with 24%
                    </p>
                </div>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>

    </div>

